<div class="container">
    <form class="form-horizontal" [formGroup]="myform">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" formControlName="name" name="name" class="form-control" id="name"
                               placeholder="John Doe" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="myform.controls.name.invalid && (myform.controls.name.dirty||myform.controls.name.touched)">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Name invalid
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" formControlName="email" name="email" class="form-control" id="email"
                               placeholder="you@example.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="myform.controls.email.invalid && (myform.controls.email.dirty||myform.controls.email.touched)">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Email invalid
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" formControlName="password" name="password" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="myform.controls.password.invalid && (myform.controls.password.dirty||myform.controls.password.touched)">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"> Example Error Message</i>
                        </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button [disabled]="myform.invalid" class="btn btn-success" (click)="register()"><i class="fa fa-user-plus"></i> Register</button>
                <button style='margin-left:10px' class="btn btn-info"  routerLink='/'><i class="fa fa-user-plus"></i> login</button>
            </div>
        </div>
    </form>
</div>